{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 100%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">All Posts</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Categoria</th>
                <th>Added by</th>
                <th>Added on</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.tags|join(", ") }}</td>
                <td>{{ post.category }}</td>
                <td>{{ post.created_at.strftime('%b %d, %Y %I:%M %p') }}</td>
                <td>{{ post.updated_at.strftime('%b %d, %Y %I:%M %p') }}</td>
                <td>
                	<!--
                    <form method="post" action="{{ url_for('delete_post', post_id=post.id) }}">
                        <button class="btn btn-mini">Delete</button>
                    </form>
                    <form method="post" action="{{ url_for('editor', post_id=post.id) }}">
                        <button class="btn btn-mini">Edita</button>
                    </form>
                   -->
			        <a class="btn btn-mini" href="{{ url_for('editor', post_id=post.id) }}">
			            <i class="icon-edit"></i>
			            Edita
			        </a>
			        <a class="btn btn-mini btn-danger" href="{{ url_for('delete_post', post_id=post.id) }}">
			            <i class="icon-trash icon-white"></i>
			            Elimina
			        </a>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="6">No examples yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" href="{{ url_for('editor') }}">
            <i class="icon-plus-sign icon-white"></i>
            New post
        </a>
    </p>

{% endblock content %}
